.pagina-chocolates{
    height: 100vh;
    background-image: url('../../../public/images/fundo4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .an{
        animation: animacao 2s;
    }
}

