.pagina-chocolates{
    height: 100vh;
    background-image: url('https://cdn.discordapp.com/attachments/1209127677060186172/1312528956901294090/43_Sem_Titulo_20241130182030.png?ex=674cd358&is=674b81d8&hm=a89de554ac2bf35ed7811b6f452636221341293e12949e792fb138d904a19cca&');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .an{
        animation: animacao 2s;
    }
}

