.pagina-sobre{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('../../../public/images/fundo2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .titulo{
        font-family: fonte-titulo;
        color: #5E3524;
        font-size: 50px;
        margin-bottom: 0px;
        font-weight: 400;
        animation: animacao 2s;
    }

    .texto{
        width: 60%;
        line-height: 1.4;
        align-self: center;
        font-size: 22px;
        font-weight: 400;
        color: white;
        animation: animacao 2.5s;
    }
}